/* .ribbon{  
    display:none;
    position: absolute; top: 0; right: 0; border: 0; 
} 

@media (min-width:1619px){
    .ribbon{ 
        display:block;      
        position: absolute; top: 0; right: 0; border: 0; 
    }  
} */